body {
  margin: 0;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
}