.DS_Store

dist
node_modules
front-end/node_modules
back-end/node_modules

front-end/package-lock.json
back-end/package-lock.json

yarn.lock
front-end/yarn.lock
back-end/yarn.lock

front-end/build
back-end/build

# local env files
.env.local
# .env.*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# *.lock
