.container {
  form input::-webkit-validation-bubble-message, 
  form select::-webkit-validation-bubble-message,
  form textarea::-webkit-validation-bubble-message {
      display:none;
  } 

  width: 450px;

  .form-group {
    > div {
      max-width: 180px;
      margin-top: 16px;
    }

    display: flex;
    justify-content: space-between;
  }

  .bottom-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 -8px;

    button {
      margin: 0 8px;
    }
  }

  :global(.MuiPaper-root) {
    padding: 32px;
  }

  :global(.MuiFormGroup-root) {
    flex-direction: row;
    margin: 16px 0;
  }

  :global(.MuiFormControl-root) {
    margin-top: 16px;
    // max-width: 180px;
  }
}