.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.patients-table {
  width: 1250px;
  margin: 0 25px;

  :global(.MuiTableCell-sizeSmall)  {
    padding: 6px 24px;
  }

  :global(.MuiTableCell-sizeSmall:last-child) {
    padding-right: 24px;
  }
}

